<h3>Edit Profile: Bad Send()</h3>
<div class="row">
<div class="col-md-6">
<%= form_tag(controller: "demos", action: "demosendcreate", method: "post") do %>
	Choose what you would like to Edit:<br>
	<%= radio_button_tag(:type, "name") %>
	<%= label_tag(:type_name, "Name") %><br>
	<%= radio_button_tag(:type, "status") %>
	<%= label_tag(:type_status, "Status") %><br>
	<%= label_tag(:value, "Enter Value") %>
	<%= text_field_tag(:value, nil, class: "form-control") %><br>
	<%= submit_tag("Submit", :class => "btn btn-success") %>
<% end %>
</div>
</div>
<div class="row">
<h4>Our User</h4>
<table class="table table-striped">
<tr>
	<th>Name</th>
	<th>Status</th>
	<th>Position</th>
	<th>Salary</th>
</tr>

<tr>
	<td><%= @employee.name %></td>
	<td><%= @employee.status %></td>
	<td><%= @employee.position %></td>
	<td><%= @employee.salary %></td>
</tr>
</table>